<app-loader [hidden]="loaded"></app-loader>
<div class="wrapper">
  <ul class="page-nav">
    <li>
      <label>Admin <mat-icon>arrow_right</mat-icon></label>
    </li>
    <li>
      <label>Logs <mat-icon>arrow_right</mat-icon></label>
    </li>
    <li>
      <label>Requests</label>
    </li>
  </ul>
  <mat-card class="table">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Link</th>
          <th>Ressource</th>
          <th>Request Type</th>
          <th>Priority</th>
          <th>Trials</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of requests">
          <td>
            <p><a (click)="retryRequest(request.id)" *ngIf="request.status != 4 && request.status != 0"><mat-icon>autorenew</mat-icon></a> {{request.id}}</p>
            
          </td>
          <td>
            <a *ngIf="request.resource == 0" [href]="'https://github.com/'+request.data[2].value" target="_blank">@{{request.data[2].value}}</a>
            <a *ngIf="request.resource == 1" [href]="'https://github.com/'+request.data[2].value+'/repositories'" target="_blank">@{{request.data[2].value}}</a>
            <a *ngIf="request.resource == 2" [href]="'https://github.com/'+request.data[2].value+'/members'" target="_blank">@{{request.data[2].value}}</a>
            <a *ngIf="request.resource == 3" [href]="'https://github.com/'+request.data[0].value+'/'+request.data[1].value" target="_blank">@{{request.data[0].value}}/{{request.data[1].value}}</a>
            <a *ngIf="request.resource == 4" [href]="'https://github.com/'+request.data[0].value+'/'+request.data[1].value+'/graphs/contributors'" target="_blank">@{{request.data[0].value}}/{{request.data[1].value}}</a>
            <a *ngIf="request.resource == 5" [href]="'https://github.com/'+request.data[0].value+'/'+request.data[1].value" target="_blank">@{{request.data[0].value}}/{{request.data[1].value}}</a>
            <a *ngIf="request.resource == 6" [href]="'https://github.com/'+request.data[0].value+'/'+request.data[1].value" target="_blank">@{{request.data[0].value}}/{{request.data[1].value}}</a>
            <a *ngIf="request.resource == 7" [href]="'https://github.com/'+request.data[0].value+'/'+request.data[1].value" target="_blank">@{{request.data[0].value}}/{{request.data[1].value}}</a>
            <a *ngIf="request.resource == 8" [href]="'https://github.com/'+request.data[0].value+'/'+request.data[1].value+'/issues'" target="_blank">@{{request.data[0].value}}/{{request.data[1].value}}</a>
            <a *ngIf="request.resource == 9" [href]="'https://github.com/'+request.data[0].value+'/'+request.data[1].value+'/milestones'" target="_blank">@{{request.data[0].value}}/{{request.data[1].value}}</a>
            <a *ngIf="request.resource == 10" [href]="'https://github.com/'+request.data[0].value+'/'+request.data[1].value+'/projects'" target="_blank">@{{request.data[0].value}}/{{request.data[1].value}}</a>
            <a *ngIf="request.resource == 11" [href]="'https://github.com/'+request.data[0].value+'/'+request.data[1].value+'/pulls'" target="_blank">@{{request.data[0].value}}/{{request.data[1].value}} requests</a>
            <a *ngIf="request.resource == 12" [href]="'https://github.com/'+request.data[0].value+'/'+request.data[1].value+'/releases'" target="_blank">@{{request.data[0].value}}/{{request.data[1].value}}</a>
            <a *ngIf="request.resource == 13">User</a>
          </td>
          <td>
            <p *ngIf="request.resource == 0">Organization</p>
            <p *ngIf="request.resource == 1">Repositories</p>
            <p *ngIf="request.resource == 2">Members</p>
            <p *ngIf="request.resource == 3">Repository</p>
            <p *ngIf="request.resource == 4">Assignable Users</p>
            <p *ngIf="request.resource == 5">Deploy keys</p>
            <p *ngIf="request.resource == 6">Deployments</p>
            <p *ngIf="request.resource == 7">Forks</p>
            <p *ngIf="request.resource == 8">Issues</p>
            <p *ngIf="request.resource == 9">Projects</p>
            <p *ngIf="request.resource == 10">Milestones</p>
            <p *ngIf="request.resource == 11">Pull requests</p>
            <p *ngIf="request.resource == 12">Releases</p>
            <p *ngIf="request.resource == 13">User</p>
          </td>
          <td>
            <p *ngIf="request.type == 0">Init</p>
            <p *ngIf="request.type == 1">Update</p>
            <p *ngIf="request.type == 2">Offset <span>{{request.data[2].value}}</span></p>
          </td>
          <td>
            <p *ngIf="request.priority == 1">Very high</p>
            <p *ngIf="request.priority == 2">High</p>
            <p *ngIf="request.priority == 3">Medium</p>
            <p *ngIf="request.priority == 4">Low</p>
          </td>
          <td>
            <p>{{request.trial +1}}</p>
          </td>
          <td>
            <p *ngIf="request.status == 0">New</p>
            <p *ngIf="request.status == 1">Pending</p>
            <p *ngIf="request.status == 2">Requested</p>
            <p *ngIf="request.status == 3">Failed</p>
            <p *ngIf="request.status == 4">Success</p>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card>
</div>