<div class="wrapper">
  <app-loader [hidden]="loaded"></app-loader>
  <ul class="page-nav">
    <li>
      <label>Admin <mat-icon>arrow_right</mat-icon></label>
    </li>
    <li>
      <label>Coins <mat-icon>arrow_right</mat-icon></label>
    </li>
    <li>
      <label>List</label>
    </li>
  </ul>
  <mat-card>
    <div *ngFor="let members of membersDatasource.members.value" class="member">
      <div class="member-intro">
        <div class="image-wrapper">
          <img [src]="member.avatarUrl"/>
        </div>
        <div class="info-wrapper">
          <p>{{member.name?member.name:member.login}}<br/>
          <a [href]="member.url" target="_blank" class="external-link">@{{member.login}}</a></p>
        </div>
        <div class="contact-wrapper">
          <mat-icon *ngIf="member.email" [matTooltip]="member.email">email</mat-icon>
        </div>
      </div>
      <div class="stats-wrapper">
          <app-loader [hidden]="membersLength | async"></app-loader>
        <mat-table class="first member-table" #table [dataSource]="membersDatasource" matSort (matSortChange)="sortData($event)">
             <ng-container matColumnDef="organizations">
                <mat-header-cell *matHeaderCellDef mat-sort-header="organizations"> Organizations </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <p class="name">{{member.organizations}}</p>
                </mat-cell>
              </ng-container>
                  <ng-container matColumnDef="repositories">
                <mat-header-cell *matHeaderCellDef mat-sort-header="repositories"> Repositories </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <p class="name">{{member.repositories}}</p>
                </mat-cell>
              </ng-container>
                  <ng-container matColumnDef="watching">
                <mat-header-cell *matHeaderCellDef mat-sort-header="watching"> Watching </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <p class="name">{{member.watching}}</p>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
        </mat-table>
        <mat-table #table [dataSource]="membersDatasource" matSort (matSortChange)="sortData($event)">
            <ng-container matColumnDef="pullRequests">
                <mat-header-cell *matHeaderCellDef mat-sort-header="pullRequests"> Pull requests </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <p class="name">{{member.pullRequests}}</p>
                </mat-cell>
              </ng-container>
                  <ng-container matColumnDef="stared">
                <mat-header-cell *matHeaderCellDef mat-sort-header="stared"> Stared </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <p class="name">{{member.starredRepositories}}</p>
                </mat-cell>
              </ng-container>
                  <ng-container matColumnDef="followers">
                <mat-header-cell *matHeaderCellDef mat-sort-header="followers"> Followers </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <p class="name">{{member.followers}}</p>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
    <mat-paginator #paginator
    [pageSize]="50"
    [pageSizeOptions]="[50, 100, 200]">
  </mat-paginator>
  </mat-card>
</div>
